set_location IN_MUX_bfv_2_7_0_ 2 7 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_8_0_ 2 8 0 #ICE_CARRY_IN_MUX
set_location IN_MUX_bfv_2_9_0_ 2 9 0 #ICE_CARRY_IN_MUX
set_location GB_BUFFER_led_3_c_i_g_THRU_LUT4_0 1 4 3 #SB_LUT4
set_location un7_count_cry_4_c 2 7 3 #SB_CARRY
set_location count[4] 1 5 1 #SB_DFFR
set_location count[13] 2 8 4 #SB_DFFR
set_location count_RNO[2] 2 7 1 #SB_LUT4
set_location count_RNO[20] 1 8 4 #SB_LUT4
set_location count_RNO[17] 1 8 0 #SB_LUT4
set_location count_RNIAG97[1] 2 6 2 #SB_LUT4
set_location count[20] 1 8 4 #SB_DFFR
set_location un7_count_cry_6_c 2 7 5 #SB_CARRY
set_location count_RNO[18] 2 9 1 #SB_LUT4
set_location count[16] 2 8 7 #SB_DFFR
set_location count[1] 2 6 1 #SB_DFFR
set_location GND -1 -1 -1 #GND
set_location count_RNO[7] 1 6 0 #SB_LUT4
set_location count_RNO_0[21] 2 9 4 #SB_LUT4
set_location un7_count_cry_11_c 2 8 2 #SB_CARRY
set_location count_RNIC35P7[4] 1 7 1 #SB_LUT4
set_location led_0 1 8 1 #SB_DFFS
set_location count_RNO[13] 2 8 4 #SB_LUT4
set_location count_RNIPQJG1[13] 1 7 5 #SB_LUT4
set_location count_RNIFVD41[11] 2 5 0 #SB_LUT4
set_location count_RNI67JG1[18] 1 8 5 #SB_LUT4
set_location un7_count_cry_1_c 2 7 0 #SB_CARRY
set_location count_RNO[8] 1 6 6 #SB_LUT4
set_location count_RNO_0[4] 2 7 3 #SB_LUT4
set_location count[5] 2 7 4 #SB_DFFR
set_location count[12] 2 8 3 #SB_DFFR
set_location un7_count_cry_18_c 2 9 1 #SB_CARRY
set_location count_RNO[3] 2 7 2 #SB_LUT4
set_location un7_count_cry_8_c 2 7 7 #SB_CARRY
set_location un7_count_cry_3_c 2 7 2 #SB_CARRY
set_location count_RNO[21] 1 8 3 #SB_LUT4
set_location count_RNO[16] 2 8 7 #SB_LUT4
set_location count_RNIK73L2[21] 1 7 4 #SB_LUT4
set_location count[21] 1 8 3 #SB_DFFR
set_location un7_count_cry_17_c 2 9 0 #SB_CARRY
set_location count_RNO_0[11] 2 8 2 #SB_LUT4
set_location count_RNI29A7[6] 1 6 2 #SB_LUT4
set_location count[2] 2 7 1 #SB_DFFR
set_location count[19] 2 9 2 #SB_DFFR
set_location un7_count_cry_5_c 2 7 4 #SB_CARRY
set_location un7_count_cry_10_c 2 8 1 #SB_CARRY
set_location count_RNO[4] 1 5 1 #SB_LUT4
set_location count_RNO[10] 1 8 7 #SB_LUT4
set_location count_RNO_0[8] 2 7 7 #SB_LUT4
set_location count_RNO_0[20] 2 9 3 #SB_LUT4
set_location count_RNI23E11[5] 1 7 6 #SB_LUT4
set_location count[9] 1 6 7 #SB_DFFR
set_location un7_count_cry_19_c 2 9 2 #SB_CARRY
set_location un7_count_cry_15_c 2 8 6 #SB_CARRY
set_location count_RNO[19] 2 9 2 #SB_LUT4
set_location count_RNO_0[17] 2 9 0 #SB_LUT4
set_location count_RNIFGS82[12] 1 7 7 #SB_LUT4
set_location count[17] 1 8 0 #SB_DFFR
set_location count[0] 2 6 3 #SB_DFFR
set_location led_1 1 8 2 #SB_DFFS
set_location count_RNO[6] 1 6 5 #SB_LUT4
set_location count_RNO[12] 2 8 3 #SB_LUT4
set_location un7_count_cry_13_c 2 8 4 #SB_CARRY
set_location un7_count_cry_12_c 2 8 3 #SB_CARRY
set_location count_RNO[9] 1 6 7 #SB_LUT4
set_location count_RNO_0[15] 2 8 6 #SB_LUT4
set_location count_RNIJKS82[14] 2 6 4 #SB_LUT4
set_location count_RNIDAKH[7] 2 6 6 #SB_LUT4
set_location count[6] 1 6 5 #SB_DFFR
set_location count[15] 1 5 0 #SB_DFFR
set_location count_RNO[0] 2 6 3 #SB_LUT4
set_location count_RNO[15] 1 5 0 #SB_LUT4
set_location rst_in_ibuf_RNIK8MB 1 5 2 #SB_LUT4
set_location led_0_RNO 1 8 1 #SB_LUT4
set_location count[3] 2 7 2 #SB_DFFR
set_location count[18] 2 9 1 #SB_DFFR
set_location un7_count_cry_14_c 2 8 5 #SB_CARRY
set_location count_RNO[5] 2 7 4 #SB_LUT4
set_location count_RNO_0[7] 2 7 6 #SB_LUT4
set_location count[11] 2 6 5 #SB_DFFR
set_location un7_count_cry_9_c 2 8 0 #SB_CARRY
set_location led_1_RNO 1 8 2 #SB_LUT4
set_location count_RNO_0[10] 2 8 1 #SB_LUT4
set_location count_RNO[11] 2 6 5 #SB_LUT4
set_location count_RNO_0[9] 2 8 0 #SB_LUT4
set_location count[8] 1 6 6 #SB_DFFR
set_location un7_count_cry_20_c 2 9 3 #SB_CARRY
set_location un7_count_cry_16_c 2 8 7 #SB_CARRY
set_location count_RNIM93L2[21] 1 8 6 #SB_LUT4
set_location count[7] 1 6 0 #SB_DFFR
set_location count[14] 2 6 7 #SB_DFFR
set_location count_RNO[1] 2 6 1 #SB_LUT4
set_location count_RNIAG97_0[1] 2 6 0 #SB_LUT4
set_location count_RNO[14] 2 6 7 #SB_LUT4
set_location count_RNO_0[14] 2 8 5 #SB_LUT4
set_location count_RNI7P5U2[4] 1 7 0 #SB_LUT4
set_location un7_count_cry_7_c 2 7 6 #SB_CARRY
set_location un7_count_cry_2_c 2 7 1 #SB_CARRY
set_location count_RNO_0[6] 2 7 5 #SB_LUT4
set_location count_RNINN8I[4] 1 6 3 #SB_LUT4
set_location count_RNIBDEJ3[10] 1 6 4 #SB_LUT4
set_location count_RNI23JG1[15] 1 7 3 #SB_LUT4
set_location count[10] 1 8 7 #SB_DFFR
set_io led_2 53
set_io led_0 59
set_io rst_in 33
set_io refclk 13
set_io led_3 56
set_io led_1 51
